.place__title {
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #fff;
    margin: 0;
    max-width: 460px;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
        margin: 50px calc((100% - 288px)/2) 0 calc((100% - 288px)/2);
    }

    .place__title:first-of-type {
        margin-top: 0;
    }
}