.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
    align-content: center;
    margin: 0 calc((100% - 1184px)/2) 92px calc((100% - 1184px)/2);
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        margin: 0 calc((100% - 928px)/2) 92px calc((100% - 928px)/2);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin: 0 calc((100% - 720px)/2) 88px calc((100% - 720px)/2);
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin: 0 calc((100% - 288px)/2) 64px calc((100% - 288px)/2);
        gap: 12px;
    }
}