.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin: 0 calc((100% - 720px)/2) 32px calc((100% - 720px)/2);
    color: #fff;
}


@media screen and (max-width: 767px) {
    .lead__title {
    margin: 0 calc((100% - 288px)/2) 16px calc((100% - 288px)/2);
    font-size: 40px;
    line-height: 110%;
    }
}