.footer__copyright {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 114%;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        max-height: 14px;
        line-height: 100%;
    }
}