.cover__text {
    position: absolute;
    top: 245px;
    right: calc((100% - 560px)/2);
    z-index: 2;
    margin: 0;
    max-width: 560px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .cover__text {
        top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__text {
        top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__text {
        top: 33px;
        right: calc((100% - 288px)/2);
        max-width: 288px;
    }
}