.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #fff;
    margin: 0 auto 32px auto;
    max-width: 560px;
    text-align: center;
    padding: 0;

}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        margin: 0 auto 16px;
        max-width: 288px;
    }
}