.place__url-heading {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #fff;
    margin: 0 0 12px 0;
    letter-spacing: 2px;
    max-width: 456px;
}